<div class="logo">
  <img
    src="https://pngfre.com/wp-content/uploads/apple-logo-6-1024x1024.png"
    alt=""
    width="50"
    height="50"
  />
  <p>Logo</p>
</div>
<nav>
  <ul>
    <li>Home</li>
    <li>Blog</li>
  </ul>
</nav>